* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

.App {
  font-size: 1.6rem;
}

.App-header {
  background-color: #E8C7C8;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(41, 41, 41);
}

.App-link {
  color: #61dafb;
}

main {
  margin: 5% 0;
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  border-bottom: 1px dotted #333;
  border-top: 1px dotted #333;
  font-size: 4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.video-gallery {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.video-card {
  width:30%;
  height: auto;
}

.video-card .video-thumb {
  width:100%;
  border: 5px solid #333;
  cursor: pointer;
}

.video-card h2 {
  font-size: 1.6rem;
}

.channel-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-left: 5px solid #333;
  padding-left: 1rem;
}

.channel-info img {
  border: 1px solid silver;
  border-radius: 50%;
}

.channel-info p {
  font-size: 1.2rem;
  font-weight: bold;
}

footer {
  background-color: #E8C7C8;
  height: 20vh;

}